@font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
         url('Sahel.woff2') format('woff2'),
         url('Sahel.woff') format('woff'),
         url('Sahel.ttf') format('truetype');
    font-weight: normal;
  }

body {
    direction: rtl;
    text-align: right;
    font-family: "Sahel";
}

.navbar-nav {
    margin-left: initial !important;
    margin-right: auto;
}

.post-meta {
    text-align: left;
}

.btn-primary {
    color: #fff;
    background-color: #0b488a;
    border-color: #0085A1;
  }

.clearfix {
    margin-right: 4.5cm;
}

.nav-item {
    margin-top: 0px;
}
