
{% extends "templates/partials/base.html" %}

{% block content %}
<html>

	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Blog</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start blog -->
	<div class="blog-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Blog</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
					</div>
				</div>
			</div>
			<div class="row">
{% for blog in blog_list %}
				<div class="col-lg-4 col-md-6 col-12" dir="rtl" >
					<div class="blog-box-inner">
						<div class="blog-img-box">
							<img class="img-fluid" src="{{blog.image.url}}" style=height:360px; alt="">
						</div>
						<div  class="blog-detail" >
							<h4>{{blog.title}}</h4>
							<ul>
								<li><span>Post by {{blog.related_user}}</span></li>
								<li></li>
								<li><span>{{blog.created_at | date:"Y  M"}}</span></li>
							</ul>
							<p>{{blog.content | truncatewords:30}} </p>
							<p> </p>
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="{% url 'Blogs:blog_detail' blog.id %}">Read More</a>
						</div>
					</div>
				</div>
{% endfor %}


				</div>
			</div>
		</div>
	</div>
	<!-- End blog -->

{% if blog_list.has_other_pages  %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if blog_list.has_previous %}
	
	<li class="page-item">
      <a class="page-link" href="?page={{blog_list.previous_page_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
	{% endif %}
  {% for page in blog_list.paginator.page_range %}
  {% if blog_list.number == page %}
   <li class="page-item active" ><a class="page-link" href="?page={{page}}">{{page}}</a></li>
  {% else %} <li class="page-item " ><a class="page-link" href="?page={{page}}">{{page}}</a></li>
  {% endif %}
   

  {% endfor %}

  {% if blog_list.has_next %}
  
    <li class="page-item">
      <a class="page-link" href="?page={{blog_list.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  {% endif %}
  </ul>
</nav>


{% endif %}

<!-- end-paginator--! >




	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							+01 123-456-4590
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							yourmail@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
							800, Lorem Street, US
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->
	

</html>
{% endblock content %}
