
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'foods:list_foods' %}">
                <img src="images/logo.png" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-rs-food">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="{% url 'foods:list_foods' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" >Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about:load' %}">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="{% url 'reservation:reserve' %}">Reservation</a>
                            <a class="dropdown-item" href="{% url 'stuff:loading' %}">Stuff</a>
                            <a class="dropdown-item">Gallery</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Blog</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="{% url 'Blogs:blog_list' %}">blog</a>
                            <a class="dropdown-item" href="{% url 'Blogs:blog_list' %}">blog Single</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contacts:contact_list' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
