{% extends 'base.html' %}
{% block heading %}وبلاگ جهانگردی فارسی{% endblock heading %}
{% block time %}با ما قوه شگفتی را وادار به کنکاش  کنید{% endblock time %}
{% block content %}
         <!-- Main Content-->
         <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <!-- Post preview-->
                    {% for blog in category.blogs.published %}
                        <div class="post-preview">
                            <a href="{% url 'blog:detail' blog.pk %}">
                                <h2 class="post-title">{{blog.title}}</h2>
                                <h3 class="post-subtitle">{{blog.description | truncatewords:15}}</h3>
                            </a>
                            
                            <p class="post-meta">
                                {{blog.jpublish}}
                                <br>
                                منتشرشده توسط 
                                <a href="#!">علیرضا</a>
                            </p>
                            <div>
                                {% for category in blog.category.all %}
                                    <a href="/">#{{category.title}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">پست های قدیمی تر</a></div>
                </div>
            </div>
        </div>
{% endblock content %}