{% extends 'base.html' %}
{% block title %}{{blog.title}}{% endblock title %}
{% block background %}style="background-image: url({{blog.thumbnail.url}})"{% endblock background %}
{% block time %}{{blog.jpublish}}{% endblock time %}
{% block heading %}{{blog.title}}{% endblock heading %}
{% block content %}

        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 ">
                        <p text-align="justify-content-center">{{blog.description}}</p>
                            
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>

{% endblock content %}
